{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyAI Alerts API",
    "version": "1.0.0",
    "description": "Create alert rules, inspect active alerts, register webhook endpoints, and receive signed webhook notifications when alert thresholds are breached."
  },
  "servers": [
    {
      "url": "https://api.us.poly.ai",
      "description": "US region"
    },
    {
      "url": "https://api.uk.poly.ai",
      "description": "UK region"
    },
    {
      "url": "https://api.eu.poly.ai",
      "description": "EU region"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "parameters": {
      "RuleId": {
        "name": "rule_id",
        "in": "path",
        "required": true,
        "description": "The rule_id must be a prefixed ID (e.g. ar_0Kx4mNpQ8rWvYb2dFgHjLs).",
        "schema": {
          "type": "string",
          "example": "ar_0Kx4mNpQ8rWvYb2dFgHjLs"
        }
      },
      "EndpointId": {
        "name": "endpoint_id",
        "in": "path",
        "required": true,
        "description": "The endpoint_id must be a prefixed ID (e.g. whe_9ZtRcXw3nByK5pVqMaEfJs).",
        "schema": {
          "type": "string",
          "example": "whe_9ZtRcXw3nByK5pVqMaEfJs"
        }
      },
      "EnabledFilter": {
        "name": "enabled",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "MetricFilter": {
        "name": "metric",
        "in": "query",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/Metric"
        }
      },
      "ProjectIdFilter": {
        "name": "project_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "StateFilter": {
        "name": "state",
        "in": "query",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/AlertState"
        }
      },
      "EventTypeFilter": {
        "name": "event_type",
        "in": "query",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/WebhookEventType"
        }
      }
    },
    "schemas": {
      "Metric": {
        "type": "string",
        "enum": [
          "turn_latency_p50",
          "turn_latency_p95",
          "api_errors",
          "function_errors",
          "call_crashes",
          "call_volume"
        ]
      },
      "ComparisonOperator": {
        "type": "string",
        "enum": [">", "<", ">=", "<="]
      },
      "AlertState": {
        "type": "string",
        "enum": ["ok", "alert", "no_data", "unknown"]
      },
      "WebhookEventType": {
        "type": "string",
        "enum": ["alerts.triggered", "alerts.resolved"]
      },
      "WindowDuration": {
        "type": "string",
        "description": "Evaluation window duration",
        "enum": ["5m", "10m", "60m"]
      },
      "AlertRule": {
        "type": "object",
        "required": [
          "id",
          "name",
          "metric",
          "operator",
          "threshold_value",
          "window_duration",
          "enabled",
          "current_state",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": { "type": "string", "example": "ar_0Kx4mNpQ8rWvYb2dFgHjLs" },
          "name": { "type": "string" },
          "project_id": { "type": ["string", "null"] },
          "metric": { "$ref": "#/components/schemas/Metric" },
          "operator": { "$ref": "#/components/schemas/ComparisonOperator" },
          "threshold_value": { "type": "integer", "minimum": 0 },
          "window_duration": { "$ref": "#/components/schemas/WindowDuration" },
          "enabled": { "type": "boolean", "default": true },
          "current_state": { "$ref": "#/components/schemas/AlertState" },
          "since": { "type": ["string", "null"], "format": "date-time" },
          "last_evaluated_at": { "type": ["string", "null"], "format": "date-time" },
          "current_value": { "type": ["integer", "null"] },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateAlertRuleRequest": {
        "type": "object",
        "required": ["name", "metric", "operator", "threshold_value", "window_duration"],
        "properties": {
          "name": { "type": "string" },
          "project_id": { "type": ["string", "null"] },
          "metric": { "$ref": "#/components/schemas/Metric" },
          "operator": { "$ref": "#/components/schemas/ComparisonOperator" },
          "threshold_value": { "type": "integer", "minimum": 0 },
          "window_duration": { "$ref": "#/components/schemas/WindowDuration" },
          "enabled": { "type": "boolean", "default": true }
        },
        "additionalProperties": false,
        "example": {
          "name": "High turn latency (p95)",
          "project_id": "proj_abc123",
          "metric": "turn_latency_p95",
          "operator": ">=",
          "threshold_value": 1500,
          "window_duration": "5m",
          "enabled": true
        }
      },
      "UpdateAlertRuleAttributes": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "project_id": { "type": ["string", "null"] },
          "metric": { "$ref": "#/components/schemas/Metric" },
          "operator": { "$ref": "#/components/schemas/ComparisonOperator" },
          "threshold_value": { "type": "integer", "minimum": 0 },
          "window_duration": { "$ref": "#/components/schemas/WindowDuration" },
          "enabled": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "UpdateAlertRuleRequest": {
        "$ref": "#/components/schemas/UpdateAlertRuleAttributes",
        "example": {
          "threshold_value": 2000,
          "enabled": false
        }
      },
      "AlertRuleListResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AlertRule" }
          }
        }
      },
      "ActiveAlert": {
        "type": "object",
        "required": [
          "alert_rule_id",
          "name",
          "metric",
          "operator",
          "threshold_value",
          "window_duration",
          "since"
        ],
        "properties": {
          "alert_rule_id": { "type": "string", "example": "ar_0Kx4mNpQ8rWvYb2dFgHjLs" },
          "name": { "type": "string" },
          "project_id": { "type": ["string", "null"] },
          "metric": { "$ref": "#/components/schemas/Metric" },
          "operator": { "$ref": "#/components/schemas/ComparisonOperator" },
          "threshold_value": { "type": "integer" },
          "window_duration": { "$ref": "#/components/schemas/WindowDuration" },
          "since": { "type": "string", "format": "date-time" },
          "last_evaluated_at": { "type": ["string", "null"], "format": "date-time" },
          "current_value": { "type": ["integer", "null"] }
        }
      },
      "ActiveAlertListResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ActiveAlert" }
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "name",
          "url",
          "enabled",
          "event_types",
          "timeout_ms",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": { "type": "string", "example": "whe_9ZtRcXw3nByK5pVqMaEfJs" },
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "url": { "type": "string", "format": "uri" },
          "enabled": { "type": "boolean", "default": true },
          "event_types": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEventType" }
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "default": {}
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 30000,
            "default": 5000
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "WebhookEndpointCreateResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/WebhookEndpoint" },
          {
            "type": "object",
            "required": ["signing_secret"],
            "properties": {
              "signing_secret": {
                "type": "string",
                "description": "Returned only once during endpoint creation. Store it securely."
              }
            }
          }
        ]
      },
      "CreateWebhookEndpointRequest": {
        "type": "object",
        "required": ["name", "url", "event_types"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "event_types": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEventType" },
            "minItems": 1
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 30000,
            "default": 5000
          },
          "enabled": { "type": "boolean", "default": true }
        },
        "additionalProperties": false,
        "example": {
          "name": "Production alerts",
          "url": "https://example.com/webhooks/polyai",
          "event_types": ["alerts.triggered"],
          "headers": {
            "X-Custom-Header": "my-value"
          },
          "timeout_ms": 5000,
          "enabled": true
        }
      },
      "UpdateWebhookEndpointAttributes": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "event_types": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEventType" },
            "minItems": 1
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 30000
          },
          "enabled": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "UpdateWebhookEndpointRequest": {
        "$ref": "#/components/schemas/UpdateWebhookEndpointAttributes",
        "example": {
          "url": "https://example.com/webhooks/polyai-v2",
          "enabled": false
        }
      },
      "WebhookEndpointListResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEndpoint" }
          }
        }
      },
      "WebhookAlert": {
        "type": "object",
        "required": [
          "id",
          "name",
          "metric",
          "operator",
          "threshold_value",
          "triggered_at"
        ],
        "properties": {
          "id": { "type": "string", "example": "ar_0Kx4mNpQ8rWvYb2dFgHjLs" },
          "name": { "type": "string" },
          "project_id": { "type": ["string", "null"] },
          "metric": { "$ref": "#/components/schemas/Metric" },
          "operator": { "$ref": "#/components/schemas/ComparisonOperator" },
          "threshold_value": { "type": "integer" },
          "current_value": { "type": ["integer", "null"] },
          "previous_state": {
            "type": ["string", "null"],
            "enum": ["ok", "alert", "no_data", "unknown", null]
          },
          "triggered_at": { "type": "string", "format": "date-time" }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "required": ["event_type", "alert"],
        "properties": {
          "event_type": { "$ref": "#/components/schemas/WebhookEventType" },
          "alert": { "$ref": "#/components/schemas/WebhookAlert" }
        }
      },
      "RotateSigningSecretResponse": {
        "type": "object",
        "required": ["signing_secret"],
        "properties": {
          "signing_secret": {
            "type": "string",
            "description": "The new signing secret. Store it securely — it cannot be retrieved again."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Conflict": {
        "description": "Resource limit exceeded (e.g. maximum number of alert rules or webhook endpoints reached).",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Validation error or malformed resource ID.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "BadGateway": {
        "description": "Monitoring backend sync failure.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/alert-rules": {
      "get": {
        "summary": "List alert rules",
        "operationId": "listAlertRules",
        "parameters": [
          { "$ref": "#/components/parameters/EnabledFilter" },
          { "$ref": "#/components/parameters/MetricFilter" },
          { "$ref": "#/components/parameters/ProjectIdFilter" },
          { "$ref": "#/components/parameters/StateFilter" }
        ],
        "responses": {
          "200": {
            "description": "Alert rules retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlertRuleListResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "summary": "Create an alert rule",
        "operationId": "createAlertRule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAlertRuleRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Alert rule created successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlertRule" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" },
          "502": { "$ref": "#/components/responses/BadGateway" }
        }
      }
    },
    "/v1/alert-rules/{rule_id}": {
      "get": {
        "summary": "Get an alert rule",
        "operationId": "getAlertRule",
        "parameters": [{ "$ref": "#/components/parameters/RuleId" }],
        "responses": {
          "200": {
            "description": "Alert rule retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlertRule" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "patch": {
        "summary": "Update an alert rule",
        "operationId": "updateAlertRule",
        "parameters": [{ "$ref": "#/components/parameters/RuleId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateAlertRuleRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert rule updated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlertRule" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" },
          "502": { "$ref": "#/components/responses/BadGateway" }
        }
      },
      "delete": {
        "summary": "Delete an alert rule",
        "operationId": "deleteAlertRule",
        "parameters": [{ "$ref": "#/components/parameters/RuleId" }],
        "responses": {
          "204": {
            "description": "Alert rule deleted successfully."
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/v1/alerts": {
      "get": {
        "summary": "List active alerts",
        "operationId": "listActiveAlerts",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectIdFilter" },
          { "$ref": "#/components/parameters/MetricFilter" }
        ],
        "responses": {
          "200": {
            "description": "Active alerts retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActiveAlertListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/v1/webhook-endpoints": {
      "get": {
        "summary": "List webhook endpoints",
        "operationId": "listWebhookEndpoints",
        "parameters": [
          { "$ref": "#/components/parameters/EnabledFilter" },
          { "$ref": "#/components/parameters/EventTypeFilter" }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoints retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpointListResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "summary": "Create a webhook endpoint",
        "operationId": "createWebhookEndpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWebhookEndpointRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpointCreateResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/v1/webhook-endpoints/{endpoint_id}/rotate-secret": {
      "post": {
        "summary": "Rotate webhook signing secret",
        "operationId": "rotateWebhookSigningSecret",
        "description": "Generates a new signing secret for the webhook endpoint. The previous secret is immediately invalidated.",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "200": {
            "description": "Signing secret rotated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RotateSigningSecretResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/v1/webhook-endpoints/{endpoint_id}": {
      "get": {
        "summary": "Get a webhook endpoint",
        "operationId": "getWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "200": {
            "description": "Webhook endpoint retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "patch": {
        "summary": "Update a webhook endpoint",
        "operationId": "updateWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateWebhookEndpointRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "delete": {
        "summary": "Delete a webhook endpoint",
        "operationId": "deleteWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "204": {
            "description": "Webhook endpoint deleted successfully."
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  },
  "webhooks": {
    "alertsTriggered": {
      "post": {
        "summary": "alerts.triggered webhook",
        "description": "Sent when an alert rule transitions into a firing state.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookEvent" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your endpoint acknowledged the event."
          }
        }
      }
    },
    "alertsResolved": {
      "post": {
        "summary": "alerts.resolved webhook",
        "description": "Sent when a firing alert transitions back to the ok state.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookEvent" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your endpoint acknowledged the event."
          }
        }
      }
    }
  }
}
