{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyAI Alerts API",
    "version": "1.0.8",
    "description": "Manage alert rules and query active alerts."
  },
  "servers": [
    {
      "url": "https://api.us.poly.ai",
      "description": "US region"
    },
    {
      "url": "https://api.eu.poly.ai",
      "description": "EU region"
    },
    {
      "url": "https://api.uk.poly.ai",
      "description": "UK region"
    },
    {
      "url": "https://api.studio.poly.ai",
      "description": "Studio region"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "An API key is a token that you provide when making API calls. Include the token in a header parameter called `X-API-KEY`."
      }
    },
    "parameters": {
      "RuleId": {
        "name": "rule_id",
        "in": "path",
        "required": true,
        "description": "The rule_id must be a prefixed ID (e.g. ar_0Kx4mNpQ8rWvYb2dFgHjLs).",
        "schema": {
          "type": "string",
          "pattern": "^ar_[A-Za-z0-9]+$",
          "example": "ar_0Kx4mNpQ8rWvYb2dFgHjLs"
        }
      },
      "EnabledFilter": {
        "name": "enabled",
        "in": "query",
        "required": false,
        "description": "Filter by enabled status",
        "schema": {
          "type": "boolean"
        }
      },
      "MetricFilter": {
        "name": "metric",
        "in": "query",
        "required": false,
        "description": "Filter by metric",
        "schema": {
          "$ref": "#/components/schemas/AlertMetric"
        }
      },
      "ProjectIdFilter": {
        "name": "project_id",
        "in": "query",
        "required": false,
        "description": "Filter by project ID",
        "schema": {
          "type": "string"
        }
      },
      "StateFilter": {
        "name": "state",
        "in": "query",
        "required": false,
        "description": "Filter by current state",
        "schema": {
          "$ref": "#/components/schemas/AlertState"
        }
      }
    },
    "schemas": {
      "AlertMetric": {
        "type": "string",
        "description": "Metric to monitor.",
        "enum": [
          "turn_latency_p50",
          "turn_latency_p95",
          "api_errors",
          "function_errors",
          "call_crashes",
          "call_volume"
        ]
      },
      "AlertOperator": {
        "type": "string",
        "description": "Comparison operator used by the alert rule.",
        "enum": [
          ">",
          "<",
          ">=",
          "<="
        ]
      },
      "AlertState": {
        "type": "string",
        "description": "Current state of an alert rule.",
        "enum": [
          "ok",
          "alert",
          "no_data",
          "unknown"
        ]
      },
      "WindowDuration": {
        "type": "string",
        "description": "Evaluation window duration. Allowed values: `5m`, `10m`, or `60m`.",
        "enum": [
          "5m",
          "10m",
          "60m"
        ]
      },
      "AlertRuleResponse": {
        "type": "object",
        "description": "An alert rule: its trigger condition, evaluation window, and current state.",
        "required": [
          "id",
          "name",
          "metric",
          "operator",
          "threshold_value",
          "window_duration",
          "enabled",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alert rule ID",
            "pattern": "^ar_[A-Za-z0-9]+$",
            "example": "ar_0Kx4mNpQ8rWvYb2dFgHjLs"
          },
          "name": {
            "type": "string",
            "description": "Alert rule name"
          },
          "project_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Project ID"
          },
          "metric": {
            "$ref": "#/components/schemas/AlertMetric",
            "description": "Metric being monitored"
          },
          "operator": {
            "$ref": "#/components/schemas/AlertOperator",
            "description": "Comparison operator"
          },
          "threshold_value": {
            "type": "integer",
            "description": "Threshold value",
            "minimum": 0
          },
          "window_duration": {
            "$ref": "#/components/schemas/WindowDuration",
            "description": "Window duration (5m, 10m, or 60m)"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the alert is enabled"
          },
          "current_state": {
            "$ref": "#/components/schemas/AlertState",
            "description": "Current alert state"
          },
          "since": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the current state started"
          },
          "last_evaluated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Last evaluation timestamp"
          },
          "current_value": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Current metric value"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "AlertRuleCreateRequest": {
        "type": "object",
        "description": "Fields for creating a new alert rule: which metric to watch, the threshold condition, and how long it must hold to fire.",
        "required": [
          "name",
          "metric",
          "operator",
          "threshold_value",
          "window_duration"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Alert rule name"
          },
          "project_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Project ID (optional)"
          },
          "metric": {
            "$ref": "#/components/schemas/AlertMetric",
            "description": "Metric to monitor"
          },
          "operator": {
            "$ref": "#/components/schemas/AlertOperator",
            "description": "Comparison operator"
          },
          "threshold_value": {
            "type": "integer",
            "description": "Threshold value",
            "minimum": 0
          },
          "window_duration": {
            "$ref": "#/components/schemas/WindowDuration",
            "description": "Window duration (5m, 10m, or 60m)"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the alert is enabled",
            "default": true
          }
        },
        "additionalProperties": false,
        "example": {
          "name": "High turn latency (p95)",
          "project_id": "proj_abc123",
          "metric": "turn_latency_p95",
          "operator": ">=",
          "threshold_value": 1500,
          "window_duration": "5m",
          "enabled": true
        }
      },
      "AlertRuleUpdateRequest": {
        "type": "object",
        "description": "Partial update for an alert rule. Include only the fields you want to change.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alert rule name"
          },
          "project_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Project ID"
          },
          "metric": {
            "$ref": "#/components/schemas/AlertMetric"
          },
          "operator": {
            "$ref": "#/components/schemas/AlertOperator"
          },
          "threshold_value": {
            "type": "integer",
            "minimum": 0
          },
          "window_duration": {
            "$ref": "#/components/schemas/WindowDuration"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "example": {
          "threshold_value": 2000,
          "enabled": false
        }
      },
      "AlertRuleListResponse": {
        "type": "object",
        "description": "Every alert rule in scope, each with its current state.",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "An alert rule: its trigger condition, evaluation window, and current state.",
            "items": {
              "$ref": "#/components/schemas/AlertRuleResponse"
            }
          }
        }
      },
      "ActiveAlertResponse": {
        "type": "object",
        "description": "An alert rule that is currently firing, with details about why and when it triggered.",
        "required": [
          "alert_rule_id",
          "name",
          "metric",
          "operator",
          "threshold_value",
          "window_duration",
          "since"
        ],
        "properties": {
          "alert_rule_id": {
            "type": "string",
            "description": "Alert rule ID",
            "pattern": "^ar_[A-Za-z0-9]+$",
            "example": "ar_0Kx4mNpQ8rWvYb2dFgHjLs"
          },
          "name": {
            "type": "string",
            "description": "Alert rule name"
          },
          "project_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Project ID"
          },
          "metric": {
            "$ref": "#/components/schemas/AlertMetric"
          },
          "operator": {
            "$ref": "#/components/schemas/AlertOperator"
          },
          "threshold_value": {
            "type": "integer",
            "description": "Threshold value"
          },
          "window_duration": {
            "$ref": "#/components/schemas/WindowDuration"
          },
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "When the alert started firing"
          },
          "last_evaluated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Last evaluation timestamp"
          },
          "current_value": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Current metric value"
          }
        }
      },
      "ActiveAlertsListResponse": {
        "type": "object",
        "description": "Every alert rule currently in the firing state.",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActiveAlertResponse"
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Standard PolyAI API error envelope.",
        "required": [
          "success",
          "error",
          "error_id",
          "error_code",
          "error_message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always false for error responses.",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "error_id": {
            "type": "string",
            "description": "Unique request identifier from the X-PolyAI-Correlation-Id header. Include this when contacting support."
          },
          "error_code": {
            "type": "string",
            "description": "Machine-readable error code in UPPER_SNAKE_CASE."
          },
          "error_message": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "data": {
            "nullable": true,
            "description": "Always null for error responses."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Resource limit exceeded (e.g. maximum number of alert rules reached).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Validation error or malformed resource ID.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HTTPValidationError"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Monitoring backend sync failure.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/alert-rules": {
      "get": {
        "summary": "List alert rules",
        "operationId": "listAlertRules",
        "description": "List alert rules with optional filters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EnabledFilter"
          },
          {
            "$ref": "#/components/parameters/MetricFilter"
          },
          {
            "$ref": "#/components/parameters/ProjectIdFilter"
          },
          {
            "$ref": "#/components/parameters/StateFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert rules retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRuleListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an alert rule",
        "operationId": "createAlertRule",
        "description": "Create a new alert rule. The `account_id` is derived from the `X-API-KEY` header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRuleCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Alert rule created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/BadGateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/alert-rules/{rule_id}": {
      "get": {
        "summary": "Get an alert rule",
        "operationId": "getAlertRule",
        "description": "Get a single alert rule by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert rule retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRuleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an alert rule",
        "operationId": "updateAlertRule",
        "description": "Update an alert rule. Only the fields included in the request body are changed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RuleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRuleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert rule updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/BadGateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an alert rule",
        "operationId": "deleteAlertRule",
        "description": "Delete an alert rule by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RuleId"
          }
        ],
        "responses": {
          "204": {
            "description": "Alert rule deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/alerts": {
      "get": {
        "summary": "Get active alerts",
        "operationId": "getActiveAlerts",
        "description": "List alert rules that are currently in the `alert` state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdFilter"
          },
          {
            "$ref": "#/components/parameters/MetricFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Active alerts retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveAlertsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
