{
  "openapi": "3.0.1",
  "info": {
    "title": "PolyAI Conversations API v3",
    "description": "Query conversations, recordings, and debug chat for a PolyAI agent.\n\nCompared to v1, v3:\n- Exposes additional turn-level fields (latency, translated_user_input, english_agent_response).\n- Normalizes empty text fields as empty strings rather than null.",
    "license": {
      "name": "MIT"
    },
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.us-1.platform.polyai.app",
      "description": "US base url"
    },
    {
      "url": "https://api.uk-1.platform.polyai.app",
      "description": "UK base url"
    },
    {
      "url": "https://api.euw-1.platform.polyai.app",
      "description": "EUW base url"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Conversations",
      "description": "Query conversations and audio recordings."
    },
    {
      "name": "Debug Chat",
      "description": "Create and respond to debug chat sessions for testing an agent."
    }
  ],
  "paths": {
    "/v3/{account_id}/{project_id}/conversations": {
      "get": {
        "tags": ["Conversations"],
        "summary": "List conversations for a project",
        "description": "Retrieves conversations for a given account and project. Supports three retrieval modes: transcript search, semantic search, and random sampling. When no retrieval mode is specified, the endpoint returns all conversations matching the given filters (default behavior). Only one retrieval mode may be specified per request.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query_type",
            "in": "query",
            "description": "Search mode. Use `transcript` for full-text search over conversation transcripts, or `semantic` for vector similarity search. Requires `query` to be set. Mutually exclusive with `sample`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "transcript",
                "semantic"
              ]
            }
          },
          {
            "name": "sample",
            "in": "query",
            "description": "Sampling mode. Use `random` to return a random sample of conversations within the time range. No `query` required. Mutually exclusive with `query_type`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "The search text used for transcript or semantic search. Required when `query_type` is set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "turn_type",
            "in": "query",
            "description": "Transcript search only. Filter by `user` or `agent` turns. Defaults to both.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "agent"
              ]
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "One or more channels to filter by (e.g. voice, chat). Can be specified multiple times.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "client_env",
            "in": "query",
            "description": "Client Environment - sandbox, pre-release or live",
            "schema": {
              "type": "string",
              "enum": [
                "sandbox",
                "pre-release",
                "live"
              ],
              "default": "live"
            },
            "example": "sandbox"
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "The start of the time range of the conversations to get, in ISO8601 format",
            "example": "2021-07-01T14:15:00.000Z",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The end of the time range of the conversations to get, in ISO8601 format",
            "example": "2021-07-01T16:35:00.000Z",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of conversations to return per API call. If the result set of your query is larger than this, it will be paginated.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset within result set to fetch. Prefer `cursor` for paginating through large result sets \u2014 offset-based pagination becomes progressively slower at scale and may drift when conversations are written concurrently.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor for keyset pagination. Omit on the first request, then pass the `cursor` value returned by the previous response to fetch the next page. Cursors are URL-safe, encode the position within the result set, and remain stable as new conversations are written. Mutually preferable to `offset` for paginating through large result sets. Returns a 400 if the cursor value is malformed.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant_id",
            "in": "query",
            "description": "If it is set, we would return all conversations under this variant_id. Note that you may only specify either one of the variant_id or variant_name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant_name",
            "in": "query",
            "description": "If it is set, we would return all conversations under this variant_name. Note that you may only specify either one of the variant_id or variant_name. Also, make sure to encode any spaces in the name with \"%20\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in_progress",
            "in": "query",
            "description": "If it is set to false, we only return finished conversations. If it is set to true, we only return conversations still in progress. By default, this parameter is None and we return all conversations.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "include_latency",
            "in": "query",
            "description": "If true, include the latency info for each conversation.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConversationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/agents/{agentId}/conversations/{conversationId}": {
      "get": {
        "tags": ["Conversations"],
        "summary": "Get a conversation by ID",
        "description": "Retrieves a single conversation, including turn-by-turn transcript, metrics, and function events.\n\n**Host:** this endpoint is served from `api.{region}.poly.ai` — *not* the `api.{region}-1.platform.polyai.app` host used by the list-conversations and audio endpoints.",
        "servers": [
          { "url": "https://api.us.poly.ai", "description": "US base url" },
          { "url": "https://api.eu.poly.ai", "description": "EU base url" },
          { "url": "https://api.uk.poly.ai", "description": "UK base url" },
          { "url": "https://api.studio.poly.ai", "description": "Studio base url" }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "Unique conversation ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CAabcd1234567abcdef1250065d4fc7389"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/agents/{agentId}/conversations/{conversationId}/audio": {
      "get": {
        "tags": ["Conversations"],
        "summary": "Get audio recording for a conversation",
        "description": "Returns the audio recording for a conversation as a WAV file.\n\n**Host:** this endpoint is served from `api.{region}.poly.ai` — *not* the `api.{region}-1.platform.polyai.app` host used by the list-conversations endpoint.\n\n**PII access enforcement.** Users without PII access always receive the redacted recording, regardless of the `redacted` query parameter. Users with PII access receive the raw recording by default and can opt into the redacted version by passing `redacted=true`. PII access is granted through your account's role and permission configuration in Agent Studio.",
        "servers": [
          { "url": "https://api.us.poly.ai", "description": "US base url" },
          { "url": "https://api.eu.poly.ai", "description": "EU base url" },
          { "url": "https://api.uk.poly.ai", "description": "UK base url" },
          { "url": "https://api.studio.poly.ai", "description": "Studio base url" }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "Unique conversation ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CAabcd1234567abcdef1250065d4fc7389"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Which side of the call to return. `combined` returns the full mixed recording. `user` returns only the caller audio. `agent` returns only the agent audio.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "combined",
                "user",
                "agent"
              ],
              "default": "combined"
            }
          },
          {
            "name": "redacted",
            "in": "query",
            "description": "If `true`, returns the redacted recording with personally identifiable information (PII) muted. If `false`, returns the raw recording. **Users without PII access always receive the redacted recording, regardless of this parameter.**",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WAV audio recording for the conversation.",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Recording not found for the given conversation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/agents/{agentId}/debug-chat": {
      "post": {
        "tags": ["Debug Chat"],
        "summary": "Create a new debug chat session",
        "description": "Starts a new debug chat session against an agent. Use this to interactively test an agent variant outside of production traffic.\n\n**Host:** this endpoint is served from `api.{region}.poly.ai` — *not* the `api.{region}-1.platform.polyai.app` host used by the list-conversations and audio endpoints.",
        "servers": [
          { "url": "https://api.us.poly.ai", "description": "US base url" },
          { "url": "https://api.eu.poly.ai", "description": "EU base url" },
          { "url": "https://api.uk.poly.ai", "description": "UK base url" },
          { "url": "https://api.studio.poly.ai", "description": "Studio base url" }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDebugChatBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Debug chat session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebugChatResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/agents/{agentId}/debug-chat/{conversationId}": {
      "post": {
        "tags": ["Debug Chat"],
        "summary": "Send a message to a debug chat session",
        "description": "Sends a user turn into an existing debug chat session and returns the agent's response.\n\n**Host:** this endpoint is served from `api.{region}.poly.ai` — *not* the `api.{region}-1.platform.polyai.app` host used by the list-conversations and audio endpoints.",
        "servers": [
          { "url": "https://api.us.poly.ai", "description": "US base url" },
          { "url": "https://api.eu.poly.ai", "description": "EU base url" },
          { "url": "https://api.uk.poly.ai", "description": "UK base url" },
          { "url": "https://api.studio.poly.ai", "description": "Studio base url" }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "Debug chat session conversation ID returned by `POST /v1/agents/{agentId}/debug-chat`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RespondDebugChatBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebugChatResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal Server Error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error_message": {
            "description": "Reason for error.",
            "type": "string"
          }
        }
      },
      "ConversationTurn": {
        "type": "object",
        "description": "Info about a single turn.",
        "properties": {
          "user_input": {
            "type": "string",
            "description": "The transcription of what the user spoke or typed. May be an empty string when no input is present."
          },
          "user_input_dtmf": {
            "type": "string",
            "description": "DTMF digits captured for this turn (e.g. keypad input). May be an empty string when no DTMF was entered."
          },
          "user_input_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the agent received the user's input. For speech, this is when ASR finished transcribing."
          },
          "agent_response": {
            "type": "string",
            "description": "The transcription of the agent's response to the user. May be an empty string when no response was produced."
          },
          "agent_response_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the agent responded. For speech, this is when the agent started speaking."
          },
          "latency": {
            "type": "number",
            "description": "Agent latency for this turn (for example, time in seconds between receiving user input and starting the agent response)."
          },
          "translated_user_input": {
            "type": "string",
            "description": "User input translated into the agent's working language (typically English) if translation is enabled. May be an empty string when not applicable."
          },
          "english_agent_response": {
            "type": "string",
            "description": "Agent response in English when translation is enabled. May be an empty string when not applicable."
          },
          "intents": {
            "type": "array",
            "description": "The list of intents that were found in this turn's input.",
            "items": {
              "type": "string"
            }
          },
          "entities": {
            "type": "array",
            "description": "The list of entities that were found in this turn's input.",
            "items": {
              "type": "object",
              "description": "Mapping entity name -> value(s)",
              "additionalProperties": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                ]
              }
            }
          },
          "is_ood": {
            "type": "boolean",
            "description": "Whether the turn is classified as Out of Domain (OOD)."
          },
          "is_silence": {
            "type": "boolean",
            "description": "Whether the turn is classified as a silence."
          }
        }
      },
      "ConversationSummaryResponse": {
        "type": "object",
        "description": "Public-facing conversation summary (used in list endpoint).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID for this conversation",
            "example": "CAabcd1234567abcdef1250065d4fc7389"
          },
          "account_id": {
            "type": "string",
            "description": "ID of the customer account this conversation is under."
          },
          "project_id": {
            "type": "string",
            "description": "ID of the project this conversation is under."
          },
          "variant_id": {
            "type": "string",
            "description": "ID of the variant this conversation is in."
          },
          "variant_name": {
            "type": "string",
            "description": "Name of the variant this conversation is in."
          },
          "environment": {
            "type": "string",
            "description": "Which deployment environment this conversation was handled in. Usually `live`, `sandbox`, or `pre-release`."
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the conversation began, in ISO8601 format."
          },
          "channel": {
            "type": "string",
            "description": "What medium the conversation took place in. Usually one of `WEBCHAT` or `VOICE-SIP`."
          },
          "from_number": {
            "type": "string",
            "description": "Caller's phone number."
          },
          "to_number": {
            "type": "string",
            "description": "Phone number of the agent the caller was connected to."
          },
          "in_progress": {
            "type": "boolean",
            "description": "If true, the call is currently in progress, and therefore its properties may still change in the future."
          },
          "num_turns": {
            "type": "integer",
            "description": "Total number of turns in the conversation. This count should match the length of the turns array."
          },
          "total_duration": {
            "type": "integer",
            "description": "Duration of the entire call, in seconds."
          },
          "polyai_duration": {
            "type": "integer",
            "description": "Duration of the portion of the call handled by the PolyAI agent, in seconds."
          },
          "handoff": {
            "type": "boolean",
            "description": "Whether or not the PolyAI agent handed the call off."
          },
          "handoff_reason": {
            "type": "string",
            "description": "Brief reason why the agent handed the call off."
          },
          "handoff_destination": {
            "type": "string",
            "description": "If there are multiple handoff destinations, which one was used."
          },
          "num_silences": {
            "type": "integer",
            "description": "Number of turns in the conversation where the caller gave no discernible input."
          },
          "num_ood": {
            "type": "integer",
            "description": "Number of turns in the conversation where the caller gave some input, but it could not be understood by our agent."
          },
          "metrics": {
            "type": "object",
            "description": "Mapping name -> value of custom metrics logged by the agent. If a metric name was written more than once, the value will be a list of the values that were written. Timestamps, where present, use a consistent ISO8601 date-time format.",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2
                }
              ]
            }
          },
          "state": {
            "type": "object",
            "description": "Mapping of keys -> values written to the dialogue state by the agent."
          },
          "turns": {
            "type": "array",
            "description": "Ordered list of turn objects in the conversation. May be empty if transcript access is disabled in the project's API configuration, even when num_turns is non-zero.",
            "items": {
              "$ref": "#/components/schemas/ConversationTurn"
            }
          }
        },
        "required": [
          "id",
          "account_id",
          "project_id",
          "environment",
          "started_at",
          "channel",
          "in_progress"
        ]
      },
      "ConversationDetailResponse": {
        "type": "object",
        "description": "Public-facing conversation detail (includes turns, metrics, and function events).",
        "required": ["conversationId", "accountId", "projectId"],
        "properties": {
          "conversationId": {
            "type": "string",
            "description": "Unique ID for this conversation.",
            "example": "CAabcd1234567abcdef1250065d4fc7389"
          },
          "accountId": {
            "type": "string",
            "description": "ID of the customer account this conversation is under."
          },
          "projectId": {
            "type": "string",
            "description": "ID of the project this conversation is under."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "channel": {
            "type": "string",
            "description": "Conversation medium (e.g. `WEBCHAT`, `VOICE-SIP`)."
          },
          "fromNumber": {
            "type": "string",
            "description": "Caller phone number."
          },
          "toNumber": {
            "type": "string",
            "description": "Agent phone number."
          },
          "language": {
            "type": "string",
            "description": "Conversation language code."
          },
          "variantId": {
            "type": "string",
            "description": "Variant ID the conversation ran in."
          },
          "clientEnv": {
            "type": "string",
            "description": "Client environment (`sandbox`, `pre-release`, or `live`)."
          },
          "totalDuration": {
            "type": "integer",
            "description": "Total call duration in seconds."
          },
          "polyaiDuration": {
            "type": "integer",
            "description": "PolyAI-handled duration in seconds."
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds."
          },
          "inProgress": {
            "type": "boolean",
            "description": "Whether the conversation is still in progress."
          },
          "handoff": {
            "type": "boolean",
            "description": "Whether handoff occurred."
          },
          "handoffDestination": {
            "type": "string",
            "description": "If multiple handoff destinations exist, which one was used."
          },
          "handoffReason": {
            "type": "string",
            "description": "Brief handoff reason."
          },
          "direction": {
            "type": "string",
            "description": "Call direction (e.g. `inbound`, `outbound`)."
          },
          "tags": {
            "type": "array",
            "description": "Tags applied to the conversation.",
            "items": {
              "type": "string"
            }
          },
          "polyScore": {
            "type": "number",
            "description": "PolyScore quality measure."
          },
          "shortSummary": {
            "type": "string",
            "description": "Short summary of the conversation."
          },
          "deploymentId": {
            "type": "string",
            "description": "Deployment ID."
          },
          "note": {
            "type": "string",
            "description": "Free-text note saved on the conversation."
          },
          "audioUrl": {
            "type": "string",
            "description": "URL to the audio recording."
          },
          "turns": {
            "type": "array",
            "description": "Ordered list of conversation turns.",
            "items": {
              "$ref": "#/components/schemas/ConversationTurn"
            }
          },
          "metrics": {
            "type": "object",
            "description": "Custom metrics recorded for the conversation."
          },
          "functionEvents": {
            "type": "object",
            "description": "Function execution events that occurred during the conversation."
          }
        }
      },
      "GetConversationsResponse": {
        "type": "object",
        "description": "A page of conversations matching the query, plus pagination data.",
        "required": ["conversations"],
        "properties": {
          "conversations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationSummaryResponse"
            }
          },
          "next_offset": {
            "type": "integer",
            "description": "If present, the result is being paginated and requires another API call to fetch the next portion (pass the provided `next_offset` as the `offset` param for the next API call). For new integrations, prefer the `cursor` field for faster, drift-free pagination."
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor pointing to the start of the next page. Pass this value as the `cursor` query parameter on the next request to fetch the following page. `null` when there are no more pages."
          }
        }
      },
      "ChatMetadataResponse": {
        "type": "object",
        "description": "Metadata returned with each chat response.",
        "properties": {
          "asrLangCode": {
            "type": "string",
            "description": "ASR language code (e.g. `en-US`)."
          },
          "ttsLangCode": {
            "type": "string",
            "description": "TTS language code (e.g. `en-US`)."
          },
          "agentResponseAudioUrl": {
            "type": "string",
            "description": "URL to the synthesized audio for the agent response, when applicable."
          }
        }
      },
      "CreateDebugChatBody": {
        "type": "object",
        "description": "Starting parameters for a debug chat session: which agent variant, which language codes, and which environment to run in.",
        "required": ["clientEnv"],
        "properties": {
          "clientEnv": {
            "type": "string",
            "description": "Client environment (`sandbox`, `pre-release`, `live`).",
            "enum": ["sandbox", "pre-release", "live"]
          },
          "asrLangCode": {
            "type": "string",
            "description": "ASR language code (e.g. `en-US`). Defaults to server config."
          },
          "ttsLangCode": {
            "type": "string",
            "description": "TTS language code (e.g. `en-US`). Defaults to server config."
          },
          "conversationId": {
            "type": "string",
            "description": "Custom conversation ID. Auto-generated if omitted."
          },
          "variantId": {
            "type": "string",
            "description": "Variant ID to use."
          },
          "channel": {
            "type": "string",
            "description": "Channel type (e.g. `chat.polyai`)."
          },
          "integrationAttributes": {
            "type": "object",
            "description": "Custom attributes accessible via `conv.integration_attributes` in project functions."
          }
        }
      },
      "RespondDebugChatBody": {
        "type": "object",
        "description": "A user turn sent into an existing debug chat session, with the runtime overrides that apply to this message.",
        "required": ["clientEnv"],
        "properties": {
          "clientEnv": {
            "type": "string",
            "description": "Client environment (`sandbox`, `pre-release`, `live`).",
            "enum": ["sandbox", "pre-release", "live"]
          },
          "asrLangCode": {
            "type": "string",
            "description": "ASR language code (e.g. `en-US`). Defaults to server config."
          },
          "ttsLangCode": {
            "type": "string",
            "description": "TTS language code (e.g. `en-US`). Defaults to server config."
          },
          "message": {
            "type": "string",
            "description": "User input message.",
            "default": ""
          },
          "metadata": {
            "type": "object",
            "description": "User input metadata."
          }
        }
      },
      "DebugChatResponse": {
        "type": "object",
        "description": "A chat turn's result: the agent's reply text, the conversation's updated state, and whether the conversation has ended.",
        "required": [
          "conversationId",
          "userInput",
          "response",
          "metadata",
          "conversationEnded",
          "delayedResponse"
        ],
        "properties": {
          "conversationId": {
            "type": "string",
            "description": "ID of the debug chat session."
          },
          "userInput": {
            "type": "string",
            "description": "User input that produced this response."
          },
          "response": {
            "type": "string",
            "description": "Agent's reply text."
          },
          "metadata": {
            "$ref": "#/components/schemas/ChatMetadataResponse"
          },
          "conversationEnded": {
            "type": "boolean",
            "description": "Whether the conversation has ended after this turn."
          },
          "delayedResponse": {
            "type": "boolean",
            "description": "Whether the agent's response was delayed (e.g. awaiting a long-running tool)."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Contact your PolyAI representative."
      }
    }
  }
}
