{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyAI Webhooks API",
    "version": "1.0.0",
    "description": "Register webhook endpoints and receive signed HTTP notifications for events across PolyAI services."
  },
  "servers": [
    {
      "url": "https://api.us.poly.ai",
      "description": "US region"
    },
    {
      "url": "https://api.uk.poly.ai",
      "description": "UK region"
    },
    {
      "url": "https://api.eu.poly.ai",
      "description": "EU region"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "parameters": {
      "EndpointId": {
        "name": "endpoint_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "EnabledFilter": {
        "name": "enabled",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "EventTypeFilter": {
        "name": "event_type",
        "in": "query",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/WebhookEventType"
        }
      }
    },
    "schemas": {
      "WebhookEventType": {
        "type": "string",
        "enum": ["alerts.triggered", "alerts.resolved"]
      },
      "WebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "name",
          "url",
          "enabled",
          "event_types",
          "timeout_ms",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "url": { "type": "string", "format": "uri" },
          "enabled": { "type": "boolean", "default": true },
          "event_types": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEventType" }
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "default": {}
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 30000,
            "default": 5000
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "WebhookEndpointCreateResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/WebhookEndpoint" },
          {
            "type": "object",
            "required": ["signing_secret"],
            "properties": {
              "signing_secret": {
                "type": "string",
                "description": "Returned only once during endpoint creation. Store it securely."
              }
            }
          }
        ]
      },
      "CreateWebhookEndpointRequest": {
        "type": "object",
        "required": ["name", "url", "event_types"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "event_types": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEventType" },
            "minItems": 1
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 30000,
            "default": 5000
          },
          "enabled": { "type": "boolean", "default": true }
        },
        "additionalProperties": false,
        "example": {
          "name": "Production alerts",
          "url": "https://example.com/webhooks/polyai",
          "event_types": ["alerts.triggered", "alerts.resolved"],
          "headers": {
            "X-Custom-Header": "my-value"
          },
          "timeout_ms": 5000,
          "enabled": true
        }
      },
      "UpdateWebhookEndpointAttributes": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://"
          },
          "event_types": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEventType" },
            "minItems": 1
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "timeout_ms": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 30000
          },
          "enabled": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "UpdateWebhookEndpointRequest": {
        "$ref": "#/components/schemas/UpdateWebhookEndpointAttributes",
        "example": {
          "url": "https://example.com/webhooks/polyai-v2",
          "enabled": false
        }
      },
      "WebhookEndpointListResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WebhookEndpoint" }
          }
        }
      },
      "RotateSigningSecretResponse": {
        "type": "object",
        "required": ["signing_secret"],
        "properties": {
          "signing_secret": {
            "type": "string",
            "description": "The new signing secret. Store it securely — it cannot be retrieved again."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/webhook-endpoints": {
      "get": {
        "summary": "List webhook endpoints",
        "operationId": "listWebhookEndpoints",
        "parameters": [
          { "$ref": "#/components/parameters/EnabledFilter" },
          { "$ref": "#/components/parameters/EventTypeFilter" }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoints retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpointListResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "summary": "Create a webhook endpoint",
        "operationId": "createWebhookEndpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWebhookEndpointRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpointCreateResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/v1/webhook-endpoints/{endpoint_id}": {
      "get": {
        "summary": "Get a webhook endpoint",
        "operationId": "getWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "200": {
            "description": "Webhook endpoint retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "patch": {
        "summary": "Update a webhook endpoint",
        "operationId": "updateWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateWebhookEndpointRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "delete": {
        "summary": "Delete a webhook endpoint",
        "operationId": "deleteWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "204": {
            "description": "Webhook endpoint deleted successfully."
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/v1/webhook-endpoints/{endpoint_id}/rotate-secret": {
      "post": {
        "summary": "Rotate webhook signing secret",
        "operationId": "rotateWebhookSigningSecret",
        "description": "Generates a new signing secret for the webhook endpoint. The previous secret is immediately invalidated.",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "200": {
            "description": "Signing secret rotated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RotateSigningSecretResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  }
}
