{
  "openapi": "3.0.0",
  "info": {
    "title": "PolyAI Outbound Calling API",
    "version": "1.0.0",
    "description": "Trigger outbound calls and check call status programmatically"
  },
  "servers": [
    {
      "url": "https://api.us-1.platform.polyai.app",
      "description": "US Region"
    },
    {
      "url": "https://api.uk-1.platform.polyai.app",
      "description": "UK Region"
    },
    {
      "url": "https://api.euw-1.platform.polyai.app",
      "description": "EU West Region"
    }
  ],
  "security": [
    {
      "ConnectorId": []
    }
  ],
  "paths": {
    "/api/v1/{account_id}/{project_id}/outbound-call/trigger": {
      "post": {
        "summary": "Trigger an outbound call",
        "description": "Initiates a new outbound call to the specified phone number. The call will be queued and processed by the outbound calling system.",
        "operationId": "triggerOutboundCall",
        "tags": ["Outbound Calling"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "Your PolyAI account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "Your PolyAI project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phone_number"],
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number to call in E.164 format (e.g., +14155552671)",
                    "example": "+14155552671"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call successfully queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversation_id": {
                      "type": "string",
                      "description": "Unique identifier for the triggered call. Use this to check call status.",
                      "example": "OUT-550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing connector ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to queue the outbound call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{account_id}/{project_id}/outbound-call/status/{call_sid}": {
      "get": {
        "summary": "Get call status",
        "description": "Retrieves the current status and history for an outbound call. Use this endpoint to monitor call progress after triggering a call. Note: Call status data is retained for approximately 2 hours after the call ends.",
        "operationId": "getCallStatus",
        "tags": ["Outbound Calling"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "Your PolyAI account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "Your PolyAI project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_sid",
            "in": "path",
            "required": true,
            "description": "The unique call identifier returned from the trigger endpoint (starts with OUT-)",
            "schema": {
              "type": "string",
              "example": "OUT-550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "call_sid": {
                      "type": "string",
                      "description": "The call identifier"
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The account ID"
                    },
                    "project_id": {
                      "type": "string",
                      "description": "The project ID"
                    },
                    "client_env": {
                      "type": "string",
                      "description": "The client environment"
                    },
                    "connector_id": {
                      "type": "string",
                      "description": "The connector ID"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the call was created"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the call",
                      "enum": [
                        "CREATED",
                        "queued",
                        "ringing",
                        "in-progress",
                        "completed",
                        "failed",
                        "no-answer",
                        "busy",
                        "cancelled"
                      ],
                      "example": "completed"
                    },
                    "last_updated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the status was last updated"
                    },
                    "event_history": {
                      "type": "array",
                      "description": "List of status change events",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid call SID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing connector ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Call SID not found or status data has expired (data retained for ~2 hours)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to retrieve call status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ConnectorId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CONNECTOR-ID",
        "description": "Connector ID for outbound calls"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  }
}
