{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyAI Outbound Calling API",
    "version": "1.0.0",
    "description": "Trigger outbound calls and check call status programmatically."
  },
  "servers": [
    {
      "url": "https://api.us.poly.ai",
      "description": "US region"
    },
    {
      "url": "https://api.uk.poly.ai",
      "description": "UK region"
    },
    {
      "url": "https://api.eu.poly.ai",
      "description": "EU region"
    }
  ],
  "security": [
    {
      "polyApiKey": []
    }
  ],
  "paths": {
    "/v1/agents/{projectId}/telephony/outbound-calls": {
      "post": {
        "summary": "Trigger an outbound call",
        "description": "Initiates a new outbound call to the specified phone number. When the request is accepted, the call is placed close to immediately. The start tool (start_function) executes after the call connects. It is the caller's responsibility to ensure that calls are placed lawfully.",
        "operationId": "triggerOutboundCall",
        "tags": ["Outbound Calls"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The project identifier, visible in your Agent Studio URL.",
            "schema": {
              "type": "string",
              "example": "PROJECT-xxx"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateOutboundCallBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call accepted and queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — malformed phone number, invalid environment, metadata too large, or outbound calling not configured for this environment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No connector found for the specified environment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Outbound calling service unavailable. Retry with exponential backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{projectId}/telephony/outbound-calls/{callSid}/status": {
      "get": {
        "summary": "Get the status of an outbound call",
        "description": "Retrieves the current status of an outbound call. Use this endpoint to monitor call progress after triggering a call. Call status data is retained for approximately 2 hours after the call ends.",
        "operationId": "getOutboundCallStatus",
        "tags": ["Outbound Calls"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The project identifier.",
            "schema": {
              "type": "string",
              "example": "PROJECT-xxx"
            }
          },
          {
            "name": "callSid",
            "in": "path",
            "required": true,
            "description": "The unique call identifier returned from the trigger endpoint (prefixed with OUT-).",
            "schema": {
              "type": "string",
              "example": "OUT-550e8400-e29b-41d4-a716-446655440000"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": true,
            "description": "Target environment. Must match the environment used when triggering the call.",
            "schema": {
              "type": "string",
              "enum": ["sandbox", "pre-release", "live"],
              "example": "live"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call status retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundCallStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters — missing environment, invalid call SID, or no connector found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Outbound calling service unavailable. Retry with exponential backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "polyApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key provisioned by your PolyAI representative."
      }
    },
    "schemas": {
      "InitiateOutboundCallBody": {
        "type": "object",
        "required": ["toNumber", "environment"],
        "properties": {
          "toNumber": {
            "type": "string",
            "description": "Phone number to dial in E.164 format (e.g. +442012345678). If the number lacks a country prefix, also supply countryCode.",
            "example": "+442012345678"
          },
          "environment": {
            "type": "string",
            "description": "Target environment for the call.",
            "enum": ["sandbox", "pre-release", "live"],
            "example": "live"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code (e.g. GB) for parsing a non-E.164 toNumber. Leave unset when toNumber is already in E.164 format.",
            "example": "GB"
          },
          "variantId": {
            "type": "string",
            "description": "Variant ID to use for the call. If omitted, the default connector for the environment is used."
          },
          "encryption": {
            "type": "string",
            "description": "Telephony encryption mode for the outbound leg.",
            "default": "tls_srtp",
            "example": "tls_srtp"
          },
          "metadata": {
            "type": "object",
            "description": "Arbitrary key/value pairs delivered to the agent as SIP headers, accessible via conv.sip_headers.get('key_name'). All values must be strings. The base64 representation must be under 26 KB.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "patient_first_name": "Paul",
              "patient_last_name": "Glynn",
              "appointment_date": "2026-08-26"
            }
          }
        }
      },
      "OutboundCallResponse": {
        "type": "object",
        "properties": {
          "callSid": {
            "type": "string",
            "description": "Unique call identifier (prefixed with OUT-). Use this to poll status.",
            "example": "OUT-550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "description": "Initial call status.",
            "example": "QUEUED"
          }
        }
      },
      "OutboundCallStatusResponse": {
        "type": "object",
        "properties": {
          "callSid": {
            "type": "string",
            "description": "The unique call identifier.",
            "example": "OUT-550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "description": "Current call status.",
            "enum": ["QUEUED", "CALLING", "SUCCESS", "FAILURE"],
            "example": "SUCCESS"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable reason for the current status. Typically populated for failure states; empty otherwise.",
            "example": ""
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "code": {
            "type": "string",
            "description": "Error code."
          }
        }
      }
    }
  }
}
