{
  "openapi": "3.0.0",
  "info": {
    "title": "PolyAI Outbound Calling API",
    "version": "1.0.0",
    "description": "Trigger outbound calls and check call status programmatically"
  },
  "servers": [
    {
      "url": "https://api.us-1.platform.polyai.app",
      "description": "US Region"
    },
    {
      "url": "https://api.uk-1.platform.polyai.app",
      "description": "UK Region"
    },
    {
      "url": "https://api.euw-1.platform.polyai.app",
      "description": "EU West Region"
    }
  ],
  "security": [
    {
      "PolyAiAuthToken": []
    }
  ],
  "paths": {
    "/v1/outbound-calling": {
      "post": {
        "summary": "Trigger an outbound call",
        "description": "Initiates a new outbound call to the specified phone number. When the request is accepted, the call is placed close to immediately. The start tool (start_function) executes after the call connects. It is the caller's responsibility to ensure that calls are placed lawfully.",
        "operationId": "triggerOutboundCall",
        "tags": ["Outbound Calling"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to_number"],
                "properties": {
                  "to_number": {
                    "type": "string",
                    "description": "Phone number to call in E.164 format (e.g., +14155552671). If country_code is supplied, this can also be a national-format number for that country.",
                    "example": "+14155552671"
                  },
                  "country_code": {
                    "type": "string",
                    "description": "Optional ISO 3166-1 alpha-2 country code (e.g., US, GB) used to parse a non-E.164 to_number. Leave unset when to_number is already in E.164 format.",
                    "example": "US"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Arbitrary key/value pairs delivered to the agent as SIP headers and accessible via conv.sip_headers.get('key_name'). All values must be strings. The base64 representation of the metadata must be less than 26 KB.",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "patient_first_name": "Paul",
                      "patient_last_name": "Glynn",
                      "appointment_date": "2026-08-26"
                    }
                  },
                  "encryption": {
                    "type": "string",
                    "description": "Telephony encryption type for the outbound leg.",
                    "enum": ["UDP/RTP", "UDP/SRTP", "TLS/RTP", "TLS/SRTP"],
                    "default": "TLS/SRTP"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "call_sid": {
                      "type": "string",
                      "description": "Unique identifier for the triggered call (prefixed with `OUT-`). Use this to check call status.",
                      "example": "OUT-550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters (e.g. malformed phone number, metadata too large, non-string metadata value)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token, or the connector is not configured for outbound calling",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to place the outbound call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/outbound-calling/{call_sid}/status": {
      "get": {
        "summary": "Get call status",
        "description": "Retrieves the current status for an outbound call. Use this endpoint to monitor call progress after triggering a call. Note: Call status data is retained for approximately 2 hours after the call ends.",
        "operationId": "getCallStatus",
        "tags": ["Outbound Calling"],
        "parameters": [
          {
            "name": "call_sid",
            "in": "path",
            "required": true,
            "description": "The unique call identifier returned from the trigger endpoint",
            "schema": {
              "type": "string",
              "example": "OUT-550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Current status of the call",
                      "enum": [
                        "queued",
                        "calling",
                        "success",
                        "failure"
                      ],
                      "example": "success"
                    },
                    "reason": {
                      "type": "string",
                      "description": "Human-readable reason for the current status (typically populated for terminal failure states; empty otherwise).",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid call SID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Call SID not found or status data has expired (data retained for ~2 hours)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to retrieve call status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PolyAiAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PolyAi-Auth-Token",
        "description": "Authentication token for outbound calls"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  }
}
