{
  "openapi": "3.0.1",
  "info": {
    "title": "PolyAI API Documentation",
    "description": "API schema for all PolyAI API support",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.us-1.platform.polyai.app",
      "description": "US base url"
    },
    {
      "url": "https://api.uk-1.platform.polyai.app",
      "description": "UK base url"
    },
    {
      "url": "https://api.euw-1.platform.polyai.app",
      "description": "EUW base url"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/{account_id}/{project_id}/conversations": {
      "get": {
        "description": "Returns all conversations matching filters",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "client_env",
            "in": "query",
            "description": "Client environment of the conversation",
            "schema": {
              "type": "string",
              "enum": ["live", "pre-release", "sandbox"],
              "default": "live"
            },
            "required": false
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "The start of the time range of the conversations to get, in ISO8601 format",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-05-31T15:47:30.935Z"
            },
            "required": false
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The end of the time range of the conversations to get, in ISO8601 format",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-05-31T15:47:30.935Z"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of conversations to return per API call. If the result set of your query is larger than this, it will be paginated.",
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 5000
            },
            "required": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset within result set to fetch",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "required": false
          },
          {
            "name": "include_context_state",
            "in": "query",
            "description": "If true, include the context_state for each conversation. This is a large, noisy dictionary of the agent's internal dialogue state at the end of the conversation",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false
          },
          {
            "name": "variant_id",
            "in": "query",
            "description": "If it is set, we would return all conversations under this variant_id. Note that you may only specify either one of the variant_id or variant_name",
            "schema": {
              "type": "string",
              "example": "variant-1234"
            },
            "required": false
          },
          {
            "name": "variant_name",
            "in": "query",
            "description": "If it is set, we would return all conversations under this variant_name. Note that you may only specify either one of the variant_id or variant_name. Also, make sure to encode any spaces in the name with '%20'",
            "schema": {
              "type": "string",
              "example": "branch-abc"
            },
            "required": false
          },
          {
            "name": "in_progress",
            "in": "query",
            "description": "If it is set to false, we only return finished conversations. If it is set to true, we only return conversations still in progress. By default, this parameter is None and we return all conversations",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                        "type": "array",
                        "description": "array of Conversation",
                        "items": {
                            "type": "object",
                            "description": "An array of conversations returned in ascending chronological order",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Conversation"
                                }
                            ]
                        }
                    },
                    "descriptions": {
                        "type": "object",
                        "description": "An dictionary of response keys and their descriptions"
                    }
                    },
                    "next_offset": {
                        "type": "integer",
                        "description": "If present, the result is being paginated and requires another API call to fetch the next portion (pass the provided next_offset as the offset param for the next API call)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
  },
  "components": {
    "schemas": {
      "Conversation": {
        "required": [
            
        ]
      },

      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}