{
  "openapi": "3.0.1",
  "info": {
    "title": "PolyAI Chat API Documentation",
    "description": "Schema for managing web chat operations in PolyAI.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.us-1.platform.polyai.app",
      "description": "US base url"
    },
    {
      "url": "https://api.uk-1.platform.polyai.app",
      "description": "UK base url"
    },
    {
      "url": "https://api.euw-1.platform.polyai.app",
      "description": "EUW base url"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/{account_id}/{project_id}/chat/create": {
      "post": {
        "summary": "Create a chat",
        "description": "Initiate a new web chat session.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID in the format `ACCOUNT-xxxxxxxx`. Uniquely identifies your PolyAI account."
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID in the format `PROJECT-xxxxxxxx`. Combined with the `account_id`, this uniquely identifies a PolyAI project."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Unique identifier for the user initiating the chat session. Useful for associating the chat with a specific user in your system."
                  },
                  "message": {
                    "type": "string",
                    "description": "The initial message content sent to start the chat session."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional metadata to provide additional context for the chat session. This can include custom attributes or other relevant information."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "string",
                      "description": "A unique identifier for the created chat session. Used in subsequent operations."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/{account_id}/{project_id}/chat/respond": {
      "post": {
        "summary": "Respond to a chat",
        "description": "Send a message in an existing chat session.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID in the format `ACCOUNT-xxxxxxxx`. Uniquely identifies your PolyAI account."
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID in the format `PROJECT-xxxxxxxx`. Combined with the `account_id`, this uniquely identifies a PolyAI project."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string",
                    "description": "A unique identifier for the chat session. Returned from the `create` endpoint and required to interact with the chat."
                  },
                  "message": {
                    "type": "string",
                    "description": "The content of the message being sent to the chat."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Indicates whether the message was successfully sent."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error_message": {
            "description": "A description of the error encountered.",
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}