{
  "openapi": "3.0.0",
  "info": {
    "title": "Chat API",
    "description": "API endpoints for chat functionality.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.us-1.platform.polyai.app",
      "description": "Hostname for US-1 region"
    },
    {
      "url": "https://api.uk-1.platform.polyai.app",
      "description": "Hostname for UK-1 region"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "You must request an API Key to use PolyAI APIs."
      },
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-TOKEN",
        "description": "Authentication token provisioned in Agent Studio."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error_message": {
            "type": "string",
            "description": "Reason for error"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  },
  "paths": {
    "/{version}/{account_id}/{project_id}/chat/create": {
      "post": {
        "summary": "Create a new chat conversation",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "security": [
          { "ApiKeyAuth": [] },
          { "TokenAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversation_id": {
                      "type": "string",
                      "description": "Unique ID for the created conversation"
                    },
                    "response": {
                      "type": "string",
                      "description": "Initial response message from the agent"
                    }
                  },
                  "required": ["conversation_id", "response"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/{version}/{account_id}/{project_id}/chat/respond": {
      "post": {
        "summary": "Send a message to an existing chat conversation",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "security": [
          { "ApiKeyAuth": [] },
          { "TokenAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversation_id": {
                    "type": "string",
                    "description": "ID of the conversation to respond to"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message to send to the agent"
                  }
                },
                "required": ["conversation_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversation_id": {
                      "type": "string",
                      "description": "ID of the conversation"
                    },
                    "response": {
                      "type": "string",
                      "description": "Response message from the agent"
                    },
                    "end_conversation": {
                      "type": "boolean",
                      "description": "Whether the conversation should be ended"
                    },
                    "handoff": {
                      "type": "object",
                      "description": "Information about handoff if applicable",
                      "properties": {
                        "destination": {
                          "type": "string",
                          "description": "Destination for the handoff"
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason for the handoff"
                        }
                      }
                    }
                  },
                  "required": ["conversation_id", "response", "end_conversation"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/{version}/{account_id}/{project_id}/chat/close": {
      "put": {
        "summary": "Close an existing chat conversation",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "security": [
          { "ApiKeyAuth": [] },
          { "TokenAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversation_id": {
                    "type": "string",
                    "description": "ID of the conversation to close"
                  }
                },
                "required": ["conversation_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the conversation was successfully closed"
                    }
                  },
                  "required": ["success"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "security": [
    { "ApiKeyAuth": [] },
    { "TokenAuth": [] }
  ]
}